
@{
    Layout = "~/Views/Shared/_LayoutNonLogin.cshtml";

}
<style>
    .BTRlogo {
        visibility: hidden;
    }
</style>

<div class="col-sm-12 pad-none">
    <div class="row">
        <h1>Thank You!!!</h1>
    </div>
</div>
