.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

/* This parent can be any width and height */
#loading {
    text-align: center;
    background: #ccc;
    opacity: 0.85;
    margin-bottom: 10px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    /*z-index: 999999;*/
    z-index: 9999;
}

    /* The ghost, nudged to maintain perfect centering */
    #loading:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; /* Adjusts for spacing */
    }

    /* The element to be centered, can
   also be of any width and height */
    #loading > div {
        display: inline-block;
        vertical-align: middle;
        color: white;
    }
