<div class="modal modal-wide fade" id="UserFeedbackModal" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div id="frmFeedbackContent" class="modal-content">
            @*@{ Html.RenderAction("Create", "UserFeedback");}*@
        </div>
    </div>
</div>
