
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ibox-content">
    <div class="row">
        <div class="col-sm-4">
            <label>User Name</label>
        </div>
        <div class="col-sm-4">
            <label></label>
        </div>
    </div>
    
</div>
